body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/pexels-andreea-ch-1166644.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    background-color: #291c01;
}
.home{
    height: 100vh;
}
.active{
    color: white !important;
    background-color: #E0CCBE;

}
.logo-img{
    width: 40px;
    border-radius: 50%;
    margin-right:5px ;
}
.navbar-brand{
    font-weight: 900;
}
.nav-item{
    margin: 10px;
}
.nav-item .nav-link{
    color: white;
    font-size: 18px;
    border: solid 2px transparent;
    border-radius: 20px;
    padding: 0 15px !important;
    transition: all .5s;
}
.nav-item .nav-link:hover{
    color: #3C3633;
    /* border: solid 2px rgb(79, 25, 25); */
    background-color: #E0CCBE;
}
.person{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5))brightness(85%);
    transition: all .5s;

}
.person:hover{
    transform: scale(1.2)
}
.text{
    margin-top: 50px;
    color: #EEEDEB;
}
.text h2{
    font-size: 50px;
}
.text p{
    padding:20px ;
    width: 70%;
    line-height: 2;
}
.text2{
    position: relative;
    left: 50%;
    color: #EEEDEB;
}
.icons i{
    color: #EEEDEB;
    font-size: 30px;
    margin: 10px;
    transition: all .5s;
}
.icons i:hover{
    transform: scale(1.5);
}
.buttons li a{
    background-color: #291c01c5;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
.buttons li a:hover{
    background-color: #291c01 !important;

}